body {
    background-color: #141820;
}

.nav-cont {
    display: flex;
    list-style-type: none;
    justify-content: center;
    flex-wrap: wrap;
}

.nav-item {
    padding: 0px;
    margin-top: 25px;
    margin-left: 32px;
    margin-right: 32px;

    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color:#ffffff;
    text-decoration: none;

    text-align: center;

    border: 0px;
}

.nav-cont a{
    text-decoration: none;

    background: linear-gradient(to right, #7F7FD5, #86A8E7, #91EAE4);
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;

    cursor: pointer;
    transition-duration: 0.4s;
}

.nav-cont a:visited{
    text-decoration: none;
    color:#FFFFFF;
}

.nav-cont a:hover{
    color:#FFFFFF;
}

.nav-cont a:focus{
    text-decoration: none;
    color:#FFFFFF;
}

.nav-cont a:hover, a:active{
    text-decoration: none;
    color:#FFFFFF;
}

.title {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 45px;
    color: #ffffff;
    text-align: center;

    margin-top: 6cm;
    margin-left: 25%;
    margin-right: 25%;
}

.title h1, button{
    animation: fadein 2s;;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.name {
    background: linear-gradient(to right, #7F7FD5, #86A8E7, #91EAE4);
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.subtitle {
    font-size: 30px;
    margin-top: -1cm;
    margin-bottom: 80px;
}

.butpos {
    text-align: center;
    margin-top: 0%;
}

.button {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: #141820;

    box-shadow: #000000, 6px, 6px;
    
    height:100px;
    width:180px;

    border: 1px;
    border-radius: 10px;
    outline: 1cm;

    background: linear-gradient(to right, #7F7FD5, #86A8E7, #91EAE4);
    -webkit-background-clip:padding-box;
    background-clip: padding-box;

    cursor: pointer;
    transition-duration: 0.4s;

    display:inline;
}

.button:hover{
    color:#FFFFFF;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;;
    text-align: center;
    opacity: 100%;

    padding-top: 13px;
    padding-bottom: 13px;
    background: linear-gradient(to left, #7F7FD5, #86A8E7, #91EAE4);
    -webkit-background-clip:padding-box;
    background-clip: padding-box;
}
footer a{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 15px;
    text-decoration: none;
    color:#141820;
    
    transition-duration: 0.4s;
}
footer a:hover{
    color:#FFFFFF;
}
