/* global */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

body section {
    padding: 50px;
}

.content-wrap {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;

    border: solid;
    border-width: 2px;
    border-radius: 5px;
    padding: 25px;
}

h1 {
    font-size: 45px;
    font-family: 'Playfair Display', serif;
}

h2 {
    font-size: 35px;
    font-family: 'Playfair Display', serif;

    margin-top: 0;
}

h3, p, li {
    font-size: 17px;
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: lighter;

    margin-bottom: 3px;
}

li {
    line-height: 30px;
}

.head {
    font-weight: bold;
    text-decoration: underline;
}



/* hero */
.hero {
    background: linear-gradient(to right, #7F7FD5, #86A8E7, #91EAE4);
    color:rgb(255, 255, 255);
}

.hero h1 {
    margin: 0px;
}

.hero h3 {
    margin-bottom: 0px;
    margin-top: 0px;
}


/* about me */
.about-me {
    background-color:rgb(45, 45, 45);
    color:rgb(255, 255, 255);
}

.about-me h1 {
    margin: 0 auto;
}

.about-me p {
    margin-bottom: 0;
}

.abme img{
    width: 100%;
    max-width: 300px;

    margin-top: 30px;
    margin-bottom: 30px;

    float: right; 

    border: solid;
}

@media (min-width: 300px) {
    .abme img {
        margin-left: 0;
    }
}

.about-me .content-wrap {
    border-color: #91EAE4;
}


/* coursework */
.coursework {
    background-color:rgb(255, 255, 255);
    color:rgb(25, 25, 25);
}

.coursework h1 {
    margin: 0px;
}

.coursework p {
    margin-bottom: 0;
}

.courses {
    display: block;
}

/* projects */
.projects {
    background-color:rgb(45, 45, 45);
    color:rgb(255, 255, 255);
}

.projects h1 {
    margin: 0px;
}

.projects p {
    line-height: 45px;
    margin-top: 0;
}

.projects a {
    color: #91EAE4;
    font-weight: lighter;

    margin-top: 10px;
}

.projects .content-wrap {
    border-color: #91EAE4;
}


/* resume */
.resume {
    background-color:rgb(255, 255, 255);
    color:rgb(25, 25, 25);
}

.resume p {
    margin-bottom: 15px;
}

.resume iframe {
    width: 100%;
    height: 675px;
}


/* contact */
.contact {
    background-color:rgb(45, 45, 45);
    color:rgb(255, 255, 255);
}

.contact p {
    margin-bottom: 15px;
}

.contact a{
    color: #91EAE4;
    text-decoration:underline;
}

.contact .content-wrap {
    border-color: #91EAE4;
}